 <!-- Members Section -->
    <section class="success" id="bureau">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bureau</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <p>Guillaume LEMAITRE (president)</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Gregory DEPUILLE (trésorier)</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Amandine DAIGLE (secrétaire)</p>
                </div>
            </div>
        </div>
    </section>
