 <!-- Members Section -->
    <section id="team-eurobot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Equipe Eurobot</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Membres actuels</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <p>Guillaume LEMAITRE</p>
                </div>
                <div class="col-lg-3 text-center">
                    <p>Gregory DEPUILLE</p>
                </div>
                <div class="col-lg-3 text-center">
                    <p>Damien SOREL</p>
                </div>
                <div class="col-lg-3 text-center">
                    <p>Alexandre ESPRIET</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-secondary">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Anciens membres</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <p>Julian PEYR (2006 - 2015)</p>
                </div>
                <div class="col-lg-3 text-center">
                    <p>Adrien ROUQUET (2017)</p>
                </div>
                <div class="col-lg-3 text-center">
                    <p>Duc Duy LE (2019)</p>
                </div>
            </div>
        </div>
    </section>
